

@import url('https://fonts.googleapis.com/css?family=Epilogue');

body {
    background-color:black;
  }


  .atas {
    padding: 320px;
    
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  .content {
    padding: 100px;
    margin: auto;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: bold;
  }

  .padd {
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 30px;
  }


  .isi {
    color:whitesmoke;
    font-size: 90%;
    font-family: Epilogue, sans-serif, monospace;
    font-weight: medium;
    letter-spacing: 0.1em;
    
    text-align: justify;
  }

  table, th, td {
    
    font-size: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
  }
  
  th {
    text-align: left;
  }

  .table1 {
    margin-left: auto;
    margin-right: auto;
  }

  .tr1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  
  .th1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }


  .center {
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
  }

  a:link {
    color: violet;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: violet;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:turquoise;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  img:hover {
    animation: shake 0.9s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .container {
    position:relative;
    padding-top: 30px;;
    width: 20%;
    height: 50%;
  }
  
  
  .overlay {
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    opacity: 0;
    transition: .5s ease;
    background-color: violet;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: violet;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }